{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Create Listing</h1>
    <form method="POST" class="createform">
        {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Title</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="title">
          </div>


        <div class="input-group" style="padding-top: 10px;">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
          </div>
        
        
        <div class="input-group mb-3"  style="padding-top: 10px;">
            <div class="input-group-prepend">
                <span class="input-group-text">BID</span>
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="bidstart">
          </div>

        <label for="basic-url">Image Url</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="urlImage">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Categories</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="category">
            <option selected>Choose...</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-secondary btn-lg btn-block">Create Listing!</button>
    </form>
{% endblock %}