{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div style="display: flex; flex-direction: column;">
        {% for auction in auctions %}
            <div class="listingindex">
                <a id="click" style="text-decoration: none; color: black; size: max-content;" href="{% url 'listing' auction.id%}">
                    <div class="imglistingindex">
                        <img src="{{ auction.urlImage }}" alt="{{ auction.title }}">
                    </div>
                    <div class="infolistingindex">
                        <h3>{{ auction.title }}</h4>
                        <p>{{ auction.description }}</p>
                        <h4> R${{ auction.bidstart }}</h4>
                        <p style="font-size: 12px; color:rgb(131, 131, 131);">Category: {{ auction.category }}</p>
                        <p style="font-size: 12px; color:rgb(131, 131, 131);">Created by: {{ auction.createdBy }}</p>
                    </div>
                </a>
            </div>    
        {% endfor %}
    </div>
{% endblock %}