{% extends 'auctions/layout.html' %}

{% block body %}
<div id="listing_body">
    <div class="imgPrincipal">
        <img id="listingimg" src="{{ listing.urlImage }}" alt="{{ listing.title }}">
    </div>  
    <div class="infoItem">
        <h1>{{listing.title}}</h1>
        <p>{{ listing.category }}</p>
        <h3>R${{ listing.bidstart }}</h3>
        <div class="buttonBid">
            {% if win %}
                <p>You're winning </p>
            {% else %}
                <p>You're losing</p>
            {% endif %}
            <select reverse>
                <option>{{ bidAmount }} Bids</option>
                {% for bid in bidlist %}
                    <option>{{ bid.bidUser }} : {{ bid.bid }}</option>
                {% endfor %}
            </select>
            <form action="{% url 'placebid' listing.id%}" method="POST">
                {% csrf_token %}
                <input type="text" id="bid" name="placebid">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="details">
        <h2>Details</h2>
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name='addWatchlist' value="{{ listing.id }}">Add to WatchList</button>
        </form>
        <p>{{ listing.description }}</p>
        <ul>
            <li><p>Category: {{ listing.category }}</p></li>
            <li><p>Created By: {{ listing.createdBy }}</p></li>
        </ul>
    </div>
</div>
{% endblock %}