{% extends 'auctions/layout.html' %}

{% block body %}
{% if not listing.closed %}
<div id="listing_body">
    <div class="imgPrincipal">
        <img id="listingimg" src="{{ listing.urlImage }}" alt="{{ listing.title }}">
    </div>  
    <div class="infoItem">
        <h1>{{listing.title}}</h1>
        <p>{{ listing.category }}</p>
        <h3>R${{ listing.bidstart }}</h3>
        <div class="buttonBid">
            {% if canClose %}
                <form action="{% url 'listing' listing.id%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="close">Close Auction</button>
                </form>
            {% else %}
                {% if win %}
                <p><strong>You're winning</strong></p>
                {% else %}
                <p><strong>You're losing</strong></p>
                {% endif %}
                <form action="{% url 'placebid' listing.id%}" method="POST">
                    {% csrf_token %}
                    <input type="text" id="bid" name="placebid">
                    <input type="submit" value="Place Bid">
                </form>
                {% endif %}
                <select style="padding: 5px; margin-top: 10px;">
                    <option>{{ bidAmount }} Bids</option>
                    {% for bid in bidlist %}
                        <option disabled>{{ bid.bidUser }} : R${{ bid.bid }}</option>
                    {% endfor %}
                </select>
        </div>
    </div>
    <div class="details">
        <h2>Details</h2>
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name='addWatchlist' value="{{ listing.id }}">Add to WatchList</button>
        </form>
        <p>{{ listing.description }}</p>
        <ul>
            <li><p>Category: {{ listing.category }}</p></li>
            <li><p>Created By: {{ listing.createdBy }}</p></li>
        </ul>
        <form action="{% url 'addComment' listing.id%}" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="add a comment">
        </form>
        {% for comment in comments %}
            <h5>{{ comment.user }}</h5>
            <p>{{ comment.comment }}</p>
        {% endfor %}
    </div>
</div>
{% else %}
    <h1 style="color: rgb(209, 30, 30);">Auction Closed</h1>
    <a href="{% url 'closeAuction' listing.id%}">Clique aqui para ver se voce venceu</a>
{% endif %}
{% endblock %}