{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Watchlist</h1>
    <div style="display: flex; flex-direction: column;">
        {% for list in watchlist %}
            <div class="listingindex">
                <a id="click" style="text-decoration: none; color: black; size: max-content;" href="{% url 'listing' list.item.id %}">
                    <div class="imglistingindex">
                        <img src="{{ list.item.urlImage }}" alt="{{ list.item.title }}">
                    </div>
                    <div class="infolistingindex">
                        <h3>{{ list.item.title }}</h4>
                        <p>{{ list.item.description }}</p>
                        <h4> R${{ list.item.bidstart }}</h4>
                        <p style="font-size: 12px; color:rgb(131, 131, 131);">Category: {{ list.item.category }}</p>
                        <p style="font-size: 12px; color:rgb(131, 131, 131);">Created by: {{ list.item.createdBy }}</p>
                    </div>
                </a>
                <form action="{% url 'watchlistRemove' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="removeWatchlist" value="{{ list.id }}">Remove</button>
                </form>
            </div>    
        {% endfor %}
    </div>
{% endblock %}